# Bỏ qua thư mục cụ thể
Nộp/
Phieu_Bai_Tap/
alert/

# Bỏ qua bài thực hành không cần đưa lên repo
23635991_ToNguyenAnThuyen_LuyenThiGK_Tuan06/

# Bỏ qua các project template React Native
react-native-practice-template-expo*/

# Bỏ qua các thư mục nặng thường gặp trong React Native
node_modules/
.expo/
